[Unit]
Description=web interface
After=network.target

[Service]
Type=simple
User=door
Group=door
WorkingDirectory=/srv/door
ExecStart=/usr/bin/python3 /srv/door/server.py

Restart=on-failure
RestartSec=5

AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE

NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
RestrictSUIDSGID=true

[Install]
WantedBy=multi-user.target
